{{ "{% extends \"layouts/base.html\" %}" }}

{{ "{% block title %}" }}Edit {{ model_name }} - {{ "{{ super() }}" }}{{ "{% endblock %}" }}

{{ "{% block content %}" }}
<div class="container">
    <h1>Edit {{ model_name }}</h1>
    
    <div class="card">
        <div class="card-body">
            {{ "{% include \"" }}{{ model_name_plural }}{{ "/_form.html\" %}" }}
        </div>
    </div>
    
    <div class="actions mt-3">
        <a href="{{ "{{ url_for('" }}{{ model_name_plural }}{{ ".show', id=" }}{{ model_name_lower }}{{ ".id) }}" }}" class="btn btn-secondary">Cancel</a>
    </div>
</div>
{{ "{% endblock %}" }}