{% raw %}{% extends "layouts/base.html" %}

{% block title %}Login - {{ super() }}{% endblock %}

{% block content %}
<div class="auth-form">
    <h1>Sign In</h1>
    
    <form method="POST" action="{{ url_for('auth.login') }}">
        {{ form.hidden_tag() }}
        
        <div class="form-group">
            {{ form.username.label }}
            {{ form.username(class="form-control") }}
            {% if form.username.errors %}
                <div class="error">
                    {% for error in form.username.errors %}
                        <span>{{ error }}</span>
                    {% endfor %}
                </div>
            {% endif %}
        </div>
        
        <div class="form-group">
            {{ form.password.label }}
            {{ form.password(class="form-control") }}
            {% if form.password.errors %}
                <div class="error">
                    {% for error in form.password.errors %}
                        <span>{{ error }}</span>
                    {% endfor %}
                </div>
            {% endif %}
        </div>
        
        <div class="form-group">
            {{ form.remember_me() }} {{ form.remember_me.label }}
        </div>
        
        <div class="form-group">
            {{ form.submit(class="btn btn-primary") }}
        </div>
    </form>
    
    <p>Don't have an account? <a href="{{ url_for('auth.register') }}">Register here</a></p>
    <p>Prefer passwordless login? <a href="{{ url_for('auth.magic_link') }}">Login with magic link</a></p>
</div>
{% endblock %}{% endraw %}